@import 'variables.scss';

body {
  font-family: $font-family-lakes;
  background-color: $bg-color;
  color: $text-black;    
}

a, 
button,
input,
textarea {
  transition-duration: 200ms;
}

.scroll-none {
  overflow: hidden;
}