@import 'fonts';

$bg-color: #F8F8F8;
$text-black: #1B1C21;
$text-gray: #7E7E82;
$bg-color-white: #FFFFFF;
$border-radius: 8px;
$font-family-lakes: 'TT Lakes';
$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1426px;